[submodule "WebServer/Workerman"]
	path = WebServer/Workerman
	url = https://github.com/walkor/Workerman.git
[submodule "Docker/EasySandbox"]
	path = Docker/EasySandbox
	url = https://github.com/daveho/EasySandbox.git
[submodule "WebServer/Channel"]
	path = WebServer/Channel
	url = https://github.com/walkor/Channel.git
